@inject NavigationManager NavManager

<div @onclick="OpenProject" class="card p-1 d-flex flex-row justify-content-around align-items-center">
    <h3 class="card-title">Project 1</h3>
    <p class="card-text">Owner: </p>
    <p class="card-text">Status: 🔥</p>
</div>


@code {
    private void OpenProject() {
        NavManager.NavigateTo("/project"); // fill the url with queries
    }
}
