@page "/"
@inject HttpClient Http



<PageTitle>Index</PageTitle>

<div style="width: 90vw; margin: 0 auto 20px auto; display: flex; flex-direction: column; align-items:center; justify-content: center;">
	<h1>Projects</h1>

	<ProjectCard/>
    <ProjectCard/>
</div>

<AuthorizeView>
    <Authorized>
        The user is authorized
    </Authorized>
    <NotAuthorized>
        The User is not authorized
    </NotAuthorized>
</AuthorizeView>

<br>Welcome to your new app

@code {
}
