div {
  width: 40vw;
  margin-top: 35px;
  text-align: center;
}

div:hover {
  cursor: pointer;
  box-shadow: 10px;
}

.card-title,
.card-text,
svg {
  width: 33%;
  min-width: 100px;
  flex: 1;
}

.card-title {
  text-align: left;
  padding-left: 50px;
}
