.content {
  display: flex;
  height: 80vh;
}

li,
::deep li {
  list-style-type: none;
}

::deep .collaborators {
  min-height: 100%;
  height: 100%;
  background-color: #508991;
  margin: 0 10px 0 0;
  flex: 1;
  padding: 1%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  border-radius: 10px;
}

::deep .collaborators::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

::deep .litterature {
  flex: 5;
  background-color: #172a3a;
  border-radius: 10px;
  padding: 1%;
  height: 100%;
  box-shadow: 6px 6px 20px var(--dark);
}

::deep .adder {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: green;
  font-size: 3.2em;
  font-weight: 750;
  line-height: 0;
  padding: 0;
}
